In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv('city-of-st-louis-survey.csv', low_memory = False)
df.head()

,Address,Time,User,Image,Tags,1 Structure on Site?,2S Structure Occupied?,3S Structure Use,3Sr Type of Residence,3Si Type of Institutional,...,Assessment Improved Value,Assessment Total,Land Use Value,Land Use Value 2,Land Use Value 3,Land Use Value 4,Number of Buildings,Land Area,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51,Kimberlyn hancock,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08,Kimberlyn hancock,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,0.0,55600.0,3000.0,0.0,0.0,0.0,0.0,86815.0,0.0,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08,Americorps,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,5853100.0,5853100.0,5000.0,0.0,0.0,0.0,0.0,321473.0,0.0,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08,Charles berggren,NaN,NaN,Yes,Occupied (Not Vacant),NaN,NaN,NaN,...,11758100.0,11758100.0,6700.0,0.0,0.0,0.0,0.0,74851.0,0.0,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...

In [5]:
df.columns

Index(['Address', 'Time', 'User', 'Image', 'Tags', '1 Structure on Site?',
       '2S Structure Occupied?', '3S Structure Use', '3Sr Type of Residence',
       '3Si Type of Institutional', '3Sc Type of Commercial',
       '3Sind Type of Industrial', '4S Structure Condition',
       '5S Roof Condition', '6S Fire Damage?', '7S Level of Fire Damage',
       '8S Secure or Open to Trespass?', '9S Primary Building Material',
       '10S Historic Structure?', '11S Visible Security Camera?',
       '12L Lot/Site Use', '13L Vegetation Coverage', '14L Dumping on Site?',
       '15L Lot Maintained?', '16L Site Grading',
       '17L Building/Structure Remnants?', '18 Front Facing Sidewalk?',
       '19 Pedestrian Scale Lighting?', '20 Automobile Scale Lighting?',
       '21 Graffiti?', '22 Unsheltered Person(s) Use of Site?',
       '23 Number of Trees', 'Additional Notes', 'Handle', 'Parcel 9', 'Owner',
       'Address.1', 'Updated', 'Owner Group', 'Number Units', 'Zoning Class 1',
       'Zoning Class 2', 'Zoning Class 3', 'Vacant Land', 'Land Assessment',
       'Assessment Improved Value', 'Assessment Total', 'Land Use Value',
       'Land Use Value 2', 'Land Use Value 3', 'Land Use Value 4',
       'Number of Buildings', 'Land Area', 'Frontage', 'Legal Description'],
      dtype='object')

In [15]:
df.isnull().sum()

Address                                      0
Time                                         0
User                                         0
Image                                     2516
Tags                                     31973
1 Structure on Site?                         8
2S Structure Occupied?                   10836
3S Structure Use                         26663
3Sr Type of Residence                    27275
3Si Type of Institutional                31876
3Sc Type of Commercial                   31650
3Sind Type of Industrial                 31903
4S Structure Condition                   26697
5S Roof Condition                        26704
6S Fire Damage?                          26707
7S Level of Fire Damage                  31701
8S Secure or Open to Trespass?           26714
9S Primary Building Material             10877
10S Historic Structure?                  10885
11S Visible Security Camera?             10885
12L Lot/Site Use                         21058
13L Vegetation Coverage                  24018
14L Dumping on Site?                     24045
15L Lot Maintained?                      24063
16L Site Grading                         24076
17L Building/Structure Remnants?         24079
18 Front Facing Sidewalk?                    8
19 Pedestrian Scale Lighting?                8
20 Automobile Scale Lighting?                8
21 Graffiti?                                 8
22 Unsheltered Person(s) Use of Site?        8
23 Number of Trees                           8
Additional Notes                         29878
Handle                                       3
Parcel 9                                     4
Owner                                        3
Address.1                                    3
Updated                                      3
Owner Group                              24934
Number Units                                 3
Zoning Class 1                             105
Zoning Class 2                           31810
Zoning Class 3                           31968
Vacant Land                                  3
Land Assessment                              3
Assessment Improved Value                    3
Assessment Total                             3
Land Use Value                               3
Land Use Value 2                             3
Land Use Value 3                             3
Land Use Value 4                             3
Number of Buildings                          3
Land Area                                    3
Frontage                                     3
Legal Description                           22
dtype: int64

In [16]:
df.shape

(31973, 55)

In [27]:
df.dropna(axis = 1, thresh = 20_000, inplace = True)

In [30]:
df.isnull().sum()

Address                                      0
Time                                         0
User                                         0
Image                                     2516
1 Structure on Site?                         8
2S Structure Occupied?                   10836
9S Primary Building Material             10877
10S Historic Structure?                  10885
11S Visible Security Camera?             10885
18 Front Facing Sidewalk?                    8
19 Pedestrian Scale Lighting?                8
20 Automobile Scale Lighting?                8
21 Graffiti?                                 8
22 Unsheltered Person(s) Use of Site?        8
23 Number of Trees                           8
Handle                                       3
Parcel 9                                     4
Owner                                        3
Address.1                                    3
Updated                                      3
Number Units                                 3
Zoning Class 1                             105
Vacant Land                                  3
Land Assessment                              3
Assessment Improved Value                    3
Assessment Total                             3
Land Use Value                               3
Land Use Value 2                             3
Land Use Value 3                             3
Land Use Value 4                             3
Number of Buildings                          3
Land Area                                    3
Frontage                                     3
Legal Description                           22
dtype: int64

In [53]:
df.drop('Image', axis = 1, inplace = True)

In [54]:
df.replace(['Other/Unknown', 'Unknown'], np.nan, inplace = True)

In [55]:
df['Number of Buildings'].unique()

array([ 1.,  0.,  2.,  3., 16.,  4.,  9.,  5., 12., 17.,  6., 10., 13.,
       nan])

In [56]:
df.head()

,Address,Time,User,1 Structure on Site?,2S Structure Occupied?,9S Primary Building Material,10S Historic Structure?,11S Visible Security Camera?,18 Front Facing Sidewalk?,19 Pedestrian Scale Lighting?,...,Assessment Improved Value,Assessment Total,Land Use Value,Land Use Value 2,Land Use Value 3,Land Use Value 4,Number of Buildings,Land Area,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,0.0,0.0,1.0,193215.0,0.0,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,Yes,...,0.0,55600.0,3000.0,0.0,0.0,0.0,0.0,86815.0,0.0,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08,Americorps,Yes,Occupied (Not Vacant),NaN,Yes,No,Yes,Yes,...,5853100.0,5853100.0,5000.0,0.0,0.0,0.0,0.0,321473.0,0.0,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,No,...,11758100.0,11758100.0,6700.0,0.0,0.0,0.0,0.0,74851.0,0.0,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...

In [58]:
df.dtypes

Address                                   object
Time                                      object
User                                      object
1 Structure on Site?                      object
2S Structure Occupied?                    object
9S Primary Building Material              object
10S Historic Structure?                   object
11S Visible Security Camera?              object
18 Front Facing Sidewalk?                 object
19 Pedestrian Scale Lighting?             object
20 Automobile Scale Lighting?             object
21 Graffiti?                              object
22 Unsheltered Person(s) Use of Site?     object
23 Number of Trees                        object
Handle                                   float64
Parcel 9                                 float64
Owner                                     object
Address.1                                 object
Updated                                   object
Number Units                             float64
Zoning Class 1                            object
Vacant Land                               object
Land Assessment                          float64
Assessment Improved Value                float64
Assessment Total                         float64
Land Use Value                           float64
Land Use Value 2                         float64
Land Use Value 3                         float64
Land Use Value 4                         float64
Number of Buildings                      float64
Land Area                                float64
Frontage                                 float64
Legal Description                         object
dtype: object

In [60]:
# All the 0 values in the float datatypes will be replaced by NaN because actually they do not have value 0, but they are not answered.

for col in df:
    if df[col].dtypes == 'float64':
        df[col] = df[col].replace(0, np.nan)

In [61]:
df.head()

,Address,Time,User,1 Structure on Site?,2S Structure Occupied?,9S Primary Building Material,10S Historic Structure?,11S Visible Security Camera?,18 Front Facing Sidewalk?,19 Pedestrian Scale Lighting?,...,Assessment Improved Value,Assessment Total,Land Use Value,Land Use Value 2,Land Use Value 3,Land Use Value 4,Number of Buildings,Land Area,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,NaN,NaN,1.0,193215.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,NaN,NaN,1.0,193215.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,Yes,...,NaN,55600.0,3000.0,NaN,NaN,NaN,NaN,86815.0,NaN,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08,Americorps,Yes,Occupied (Not Vacant),NaN,Yes,No,Yes,Yes,...,5853100.0,5853100.0,5000.0,NaN,NaN,NaN,NaN,321473.0,NaN,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,No,...,11758100.0,11758100.0,6700.0,NaN,NaN,NaN,NaN,74851.0,NaN,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...

In [72]:
# changing the column type from string to datetime
df['Time'] = pd.to_datetime(df['Time'])

In [73]:
df.head()

,Address,Time,User,1 Structure on Site?,2S Structure Occupied?,9S Primary Building Material,10S Historic Structure?,11S Visible Security Camera?,18 Front Facing Sidewalk?,19 Pedestrian Scale Lighting?,...,Assessment Improved Value,Assessment Total,Land Use Value,Land Use Value 2,Land Use Value 3,Land Use Value 4,Number of Buildings,Land Area,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51:00,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,NaN,NaN,1.0,193215.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08:00,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,Yes,No,...,2558300.0,3794900.0,5820.0,6300.0,NaN,NaN,1.0,193215.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08:00,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,Yes,...,NaN,55600.0,3000.0,NaN,NaN,NaN,NaN,86815.0,NaN,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08:00,Americorps,Yes,Occupied (Not Vacant),NaN,Yes,No,Yes,Yes,...,5853100.0,5853100.0,5000.0,NaN,NaN,NaN,NaN,321473.0,NaN,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08:00,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,No,...,11758100.0,11758100.0,6700.0,NaN,NaN,NaN,NaN,74851.0,NaN,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...

In [75]:
df.isnull().sum()

Address                                      0
Time                                         0
User                                         0
1 Structure on Site?                         8
2S Structure Occupied?                   10836
9S Primary Building Material             11524
10S Historic Structure?                  13259
11S Visible Security Camera?             10885
18 Front Facing Sidewalk?                    8
19 Pedestrian Scale Lighting?                8
20 Automobile Scale Lighting?                8
21 Graffiti?                                 8
22 Unsheltered Person(s) Use of Site?        8
23 Number of Trees                           8
Handle                                       3
Parcel 9                                     4
Owner                                        3
Address.1                                    3
Updated                                      3
Number Units                             11418
Zoning Class 1                             105
Vacant Land                                  3
Land Assessment                            204
Assessment Improved Value                11135
Assessment Total                            65
Land Use Value                               3
Land Use Value 2                         31495
Land Use Value 3                         31969
Land Use Value 4                         31973
Number of Buildings                      11783
Land Area                                27994
Frontage                                  4094
Legal Description                           22
dtype: int64

In [76]:
df.dropna(axis = 1, thresh = 20_000, inplace = True)

In [78]:
df.isnull().sum()

Address                                      0
Time                                         0
User                                         0
1 Structure on Site?                         8
2S Structure Occupied?                   10836
9S Primary Building Material             11524
11S Visible Security Camera?             10885
18 Front Facing Sidewalk?                    8
19 Pedestrian Scale Lighting?                8
20 Automobile Scale Lighting?                8
21 Graffiti?                                 8
22 Unsheltered Person(s) Use of Site?        8
23 Number of Trees                           8
Handle                                       3
Parcel 9                                     4
Owner                                        3
Address.1                                    3
Updated                                      3
Number Units                             11418
Zoning Class 1                             105
Vacant Land                                  3
Land Assessment                            204
Assessment Improved Value                11135
Assessment Total                            65
Land Use Value                               3
Number of Buildings                      11783
Frontage                                  4094
Legal Description                           22
dtype: int64

In [79]:
df['Owner'].unique()

array(['CITY OF ST LOUIS AUDITORIUM', 'JERG LLC',
       'UNITED STATES OF AMERICA', ...,
       'JONES, DONNA D & SHERRON K RIVES &', 'HODGES, ALMARIE',
       'NASH, STACIE P'], dtype=object)

In [85]:
df.rename(columns={'1 Structure on Site?': 'Structure on Site?', '2S Structure Occupied?': 'Structure Occupied?',
                   '9S Primary Building Material': 'Primary Building Material', '11S Visible Security Camera?': 
                   'Visible Security Camera?', '18 Front Facing Sidewalk?': 'Front Facing Sidewalk?', 
                   '19 Pedestrian Scale Lighting?': 'Pedestrian Scale Lighting?', '20 Automobile Scale Lighting?': 
                   'Automobile Scale Lighting?', '21 Graffiti?': 'Graffiti?', 
                   '22 Unsheltered Person(s) Use of Site?': 'Unsheltered Person(s) Use of Site?', '23 Number of Trees':
                  'Number of Trees'}, inplace = True)

In [87]:
df.columns

Index(['Address', 'Time', 'User', 'Structure on Site?', 'Structure Occupied?',
       'Primary Building Material', 'Visible Security Camera?',
       'Front Facing Sidewalk?', 'Pedestrian Scale Lighting?',
       'Automobile Scale Lighting?', 'Graffiti?',
       'Unsheltered Person(s) Use of Site?', 'Number of Trees', 'Handle',
       'Parcel 9', 'Owner', 'Address.1', 'Updated', 'Number Units',
       'Zoning Class 1', 'Vacant Land', 'Land Assessment',
       'Assessment Improved Value', 'Assessment Total', 'Land Use Value',
       'Number of Buildings', 'Frontage', 'Legal Description'],
      dtype='object')

In [89]:
df['Vacant Land'].unique()

array(['N', 'Y', nan], dtype=object)

In [90]:
df['Vacant Land'].replace({"N": 'No', "Y": "Yes"}, inplace = True)

In [91]:
df.head()

,Address,Time,User,Structure on Site?,Structure Occupied?,Primary Building Material,Visible Security Camera?,Front Facing Sidewalk?,Pedestrian Scale Lighting?,Automobile Scale Lighting?,...,Number Units,Zoning Class 1,Vacant Land,Land Assessment,Assessment Improved Value,Assessment Total,Land Use Value,Number of Buildings,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51:00,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,No,Yes,...,NaN,I,No,1236600.0,2558300.0,3794900.0,5820.0,1.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08:00,Kimberlyn hancock,Yes,Occupied (Not Vacant),Brick,Yes,Yes,No,Yes,...,NaN,I,No,1236600.0,2558300.0,3794900.0,5820.0,1.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08:00,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,Yes,Yes,...,NaN,I,No,55600.0,NaN,55600.0,3000.0,NaN,NaN,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08:00,Americorps,Yes,Occupied (Not Vacant),NaN,No,Yes,Yes,Yes,...,NaN,I,No,NaN,5853100.0,5853100.0,5000.0,NaN,NaN,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08:00,Charles berggren,Yes,Occupied (Not Vacant),NaN,Yes,Yes,No,Yes,...,NaN,I,No,NaN,11758100.0,11758100.0,6700.0,NaN,NaN,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...

In [92]:
df['Structure Occupied?'].unique()

array(['Occupied (Not Vacant)', nan, 'Unoccupied (Vacant)',
       'Possible Unoccupied', 'Partially Occupied'], dtype=object)

In [93]:
df['Structure Occupied?'].replace({'Occupied (Not Vacant)': 'Occupied', 'Unoccupied (Vacant)': 'Unoccupied'}, inplace = True)

In [94]:
df.head()

,Address,Time,User,Structure on Site?,Structure Occupied?,Primary Building Material,Visible Security Camera?,Front Facing Sidewalk?,Pedestrian Scale Lighting?,Automobile Scale Lighting?,...,Number Units,Zoning Class 1,Vacant Land,Land Assessment,Assessment Improved Value,Assessment Total,Land Use Value,Number of Buildings,Frontage,Legal Description
0,1400-98 Market St,2016-03-22 09:51:00,Kimberlyn hancock,Yes,Occupied,Brick,Yes,Yes,No,Yes,...,NaN,I,No,1236600.0,2558300.0,3794900.0,5820.0,1.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
1,1400-98 Market St,2016-03-22 10:08:00,Kimberlyn hancock,Yes,Occupied,Brick,Yes,Yes,No,Yes,...,NaN,I,No,1236600.0,2558300.0,3794900.0,5820.0,1.0,NaN,C. B. 209 MARKET 332 FT 3 3/4 IN X 581 FT 6 IN...
2,1700 Clark Av,2016-03-22 10:08:00,Charles berggren,Yes,Occupied,NaN,Yes,Yes,Yes,Yes,...,NaN,I,No,55600.0,NaN,55600.0,3000.0,NaN,NaN,C.B. 221 CLARK AV 1.993 ACRES FIRST ADDN TO UN...
3,1700-98 Market St,2016-03-22 10:08:00,Americorps,Yes,Occupied,NaN,No,Yes,Yes,Yes,...,NaN,I,No,NaN,5853100.0,5853100.0,5000.0,NaN,NaN,C B 211 W MARKET 7.38 ACRES RENE PAULS ADDN BN...
4,1600-98 Market St,2016-03-22 10:08:00,Charles berggren,Yes,Occupied,NaN,Yes,Yes,No,Yes,...,NaN,I,No,NaN,11758100.0,11758100.0,6700.0,NaN,NaN,C. B. 211EA MARKET 215-117 FT / 215.338 FT X 3...