In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('MetObjects.csv', low_memory = False)

In [3]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,1979.486.1,False,False,1,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,"Metropolitan Museum of Art, New York, NY",NaN
1,1980.264.5,False,False,2,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,"Metropolitan Museum of Art, New York, NY",NaN
2,67.265.9,False,False,3,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.10,False,False,4,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.11,False,False,5,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,"Metropolitan Museum of Art, New York, NY",NaN

In [4]:
df.shape
df.info()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473934 entries, 0 to 473933
Data columns (total 44 columns):
Object Number              473934 non-null object
Is Highlight               473934 non-null bool
Is Public Domain           473934 non-null bool
Object ID                  473934 non-null int64
Department                 473934 non-null object
Object Name                472020 non-null object
Title                      443972 non-null object
Culture                    206214 non-null object
Period                     88761 non-null object
Dynasty                    23133 non-null object
Reign                      11160 non-null object
Portfolio                  23036 non-null object
Artist Role                269871 non-null object
Artist Prefix              89025 non-null object
Artist Display Name        271965 non-null object
Artist Display Bio         232633 non-null object
Artist Suffix              11970 non-null object
Artist Alpha Sort          271931 non-null object
Artist Nationality         182497 non-null object
Artist Begin Date          235239 non-null object
Artist End Date            232955 non-null object
Object Date                459006 non-null object
Object Begin Date          473934 non-null int64
Object End Date            473934 non-null int64
Medium                     466764 non-null object
Dimensions                 398363 non-null object
Credit Line                473439 non-null object
Geography Type             59139 non-null object
City                       31757 non-null object
State                      2519 non-null object
County                     8244 non-null object
Country                    75107 non-null object
Region                     31299 non-null object
Subregion                  22025 non-null object
Locale                     15561 non-null object
Locus                      7353 non-null object
Excavation                 15985 non-null object
River                      2096 non-null object
Classification             417935 non-null object
Rights and Reproduction    22993 non-null object
Link Resource              473934 non-null object
Metadata Date              364511 non-null object
Repository                 473934 non-null object
Tags                       220460 non-null object
dtypes: bool(2), int64(3), object(39)
memory usage: 152.8+ MB

Object Number              471161
Is Highlight                    2
Is Public Domain                2
Object ID                  473934
Department                     19
Object Name                 27977
Title                      235054
Culture                      7063
Period                       1786
Dynasty                       372
Reign                         375
Portfolio                    3424
Artist Role                  6513
Artist Prefix                5506
Artist Display Name         62431
Artist Display Bio          46562
Artist Suffix                1758
Artist Alpha Sort           62436
Artist Nationality           3783
Artist Begin Date           25207
Artist End Date             25458
Object Date                 31802
Object Begin Date            2041
Object End Date              2008
Medium                      63457
Dimensions                 255694
Credit Line                 35619
Geography Type                109
City                         2534
State                         103
County                       1085
Country                       935
Region                        708
Subregion                     350
Locale                        849
Locus                        1360
Excavation                    377
River                         229
Classification               1178
Rights and Reproduction      1309
Link Resource              473934
Metadata Date                 679
Repository                      1
Tags                        46128
dtype: int64

In [5]:
df = df.dropna(axis = 1, thresh=45000)

In [6]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Public Domain', 'Object ID',
       'Department', 'Object Name', 'Title', 'Culture', 'Period',
       'Artist Role', 'Artist Prefix', 'Artist Display Name',
       'Artist Display Bio', 'Artist Alpha Sort', 'Artist Nationality',
       'Artist Begin Date', 'Artist End Date', 'Object Date',
       'Object Begin Date', 'Object End Date', 'Medium', 'Dimensions',
       'Credit Line', 'Geography Type', 'Country', 'Classification',
       'Link Resource', 'Metadata Date', 'Repository', 'Tags'],
      dtype='object')

In [7]:
df.shape

(473934, 30)

In [8]:
df.isnull().sum()

Object Number               0
Is Highlight                0
Is Public Domain            0
Object ID                   0
Department                  0
Object Name              1914
Title                   29962
Culture                267720
Period                 385173
Artist Role            204063
Artist Prefix          384909
Artist Display Name    201969
Artist Display Bio     241301
Artist Alpha Sort      202003
Artist Nationality     291437
Artist Begin Date      238695
Artist End Date        240979
Object Date             14928
Object Begin Date           0
Object End Date             0
Medium                   7170
Dimensions              75571
Credit Line               495
Geography Type         414795
Country                398827
Classification          55999
Link Resource               0
Metadata Date          109423
Repository                  0
Tags                   253474
dtype: int64

In [9]:
df.set_index('Object ID', inplace = True)

In [10]:
df.head()

,Object Number,Is Highlight,Is Public Domain,Department,Object Name,Title,Culture,Period,Artist Role,Artist Prefix,...,Medium,Dimensions,Credit Line,Geography Type,Country,Classification,Link Resource,Metadata Date,Repository,Tags
Object ID,,,,,,,,,,,,,,,,,,,,,
1,1979.486.1,False,False,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,...,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,Metal,http://www.metmuseum.org/art/collection/search/1,NaN,"Metropolitan Museum of Art, New York, NY",NaN
2,1980.264.5,False,False,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,...,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,Metal,http://www.metmuseum.org/art/collection/search/2,NaN,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.9,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,http://www.metmuseum.org/art/collection/search/3,NaN,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.10,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,http://www.metmuseum.org/art/collection/search/4,NaN,"Metropolitan Museum of Art, New York, NY",NaN
5,67.265.11,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,...,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,http://www.metmuseum.org/art/collection/search/5,NaN,"Metropolitan Museum of Art, New York, NY",NaN

In [11]:
df['Artist Role'].unique()

array(['Maker', nan, 'Artist', ..., 'Subject|Lithographer|Artist',
       'Author|Publisher|Translator|Engraver|Engraver|Engraver|Engraver|Engraver|Engraver',
       'Draftsman|Author|Publisher'], dtype=object)

In [12]:
to_drop = ['Link Resource', 'Repository', 'Object Number']
df.drop(to_drop, axis = 1, inplace = True)

In [13]:
df.head()

,Is Highlight,Is Public Domain,Department,Object Name,Title,Culture,Period,Artist Role,Artist Prefix,Artist Display Name,...,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,Country,Classification,Metadata Date,Tags
Object ID,,,,,,,,,,,,,,,,,,,,,
1,False,False,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,James Barton Longacre,...,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,Metal,NaN,NaN
2,False,False,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,Christian Gobrecht,...,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,Metal,NaN,NaN
3,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN
4,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN
5,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN

In [14]:
print(df.columns)

Index(['Is Highlight', 'Is Public Domain', 'Department', 'Object Name',
       'Title', 'Culture', 'Period', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Alpha Sort',
       'Artist Nationality', 'Artist Begin Date', 'Artist End Date',
       'Object Date', 'Object Begin Date', 'Object End Date', 'Medium',
       'Dimensions', 'Credit Line', 'Geography Type', 'Country',
       'Classification', 'Metadata Date', 'Tags'],
      dtype='object')

In [15]:
type(df.iloc[0, 13])

str

In [18]:
df['Artist Begin Date']

Object ID
1         1794
2         1785
3          nan
4          nan
5          nan
6          nan
7          nan
8          nan
9          nan
10        1867
11        1785
12        1794
13        1867
14        1785
15         nan
16         nan
17         nan
18         nan
19         nan
20         nan
21         nan
22         nan
23         nan
24         nan
25         nan
26         nan
27         nan
28         nan
29         nan
30         nan
          ...
843487    1412
843488    1893
843489    1862
843490    1893
843493    1893
843495    1893
843502    1893
843506    1893
843508    1893
843510    1893
843511    1893
843512    1862
843513    1893
843514    1862
843515    1862
843516    1893
843517    1893
843518    1893
843520    1723
843524    1862
843526    1818
843528    1769
843530    1723
843536    1734
843554    1862
843558    1758
843560    1742
843561    1769
843565    1862
843569    1746
Name: Artist Begin Date, Length: 473934, dtype: object

In [19]:
df['Artist End Date'] = df['Artist End Date'].astype(str).str[:4]

In [20]:
df.head()

,Is Highlight,Is Public Domain,Department,Object Name,Title,Culture,Period,Artist Role,Artist Prefix,Artist Display Name,...,Object Begin Date,Object End Date,Medium,Dimensions,Credit Line,Geography Type,Country,Classification,Metadata Date,Tags
Object ID,,,,,,,,,,,,,,,,,,,,,
1,False,False,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,James Barton Longacre,...,1853,1853,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1979",NaN,NaN,Metal,NaN,NaN
2,False,False,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,Maker,NaN,Christian Gobrecht,...,1901,1901,Gold,Dimensions unavailable,"Gift of Heinz L. Stoppelmann, 1980",NaN,NaN,Metal,NaN,NaN
3,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN
4,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN
5,False,False,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,NaN,NaN,...,1909,1927,Gold,Diam. 11/16 in. (1.7 cm),"Gift of C. Ruxton Love, Jr., 1967",NaN,NaN,Metal,NaN,NaN